name: Nim -> Nim Waku Interop Tests

concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.ref }}
  cancel-in-progress: false
env:
  NWAKU_TAG: "1ec9b8d9"
on:
  schedule:
    - cron:  '0 4 * * *'
  workflow_dispatch:

jobs:
  test-common:
    uses: ./.github/workflows/test_common.yml
    secrets: inherit
    with:
      node1: "wakuorg/nwaku:${{ env.NWAKU_TAG }}"
      node2: "wakuorg/nwaku:${{ env.NWAKU_TAG }}"
      additional_nodes: "wakuorg/nwaku:${{ env.NWAKU_TAG }},wakuorg/nwaku:${{ env.NWAKU_TAG }},wakuorg/nwaku:${{ env.NWAKU_TAG }}"
      caller: "nim"
