name: Nim -> Nim Waku Interop Tests

concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.ref }}
  cancel-in-progress: false

on:
  schedule:
    - cron:  '0 4 * * *'
  workflow_dispatch:

jobs:
  test-common:
    uses: ./.github/workflows/test_common.yml
    secrets: inherit
    with:
      node1: "wakuorg/nwaku:v0.35.0"
      node2: "wakuorg/nwaku:v0.35.0"
      additional_nodes: "wakuorg/nwaku:v0.35.0,wakuorg/nwaku:v0.35.0,wakuorg/nwaku:v0.35.0"
      caller: "nim"
