name: Test Nim -> Nim Waku

concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.ref }}
  cancel-in-progress: false

on:
  schedule:
    - cron:  '0 4 * * *'
  workflow_dispatch:

  push:
    branches:
      - fix-overall-job-result


jobs:
  test-common:
    uses: ./.github/workflows/test_common.yml
    secrets: inherit
    with:
      node1: "wakuorg/nwaku:latest"
      node2: "wakuorg/nwaku:latest"
      additional_nodes: "wakuorg/nwaku:latest,wakuorg/nwaku:latest,wakuorg/nwaku:latest"
      caller: "nim"
